.root {
  left: 30px;
  line-height: 1.5;
  opacity: 0.3;
  position: absolute;
  top: 30px;
  transition: opacity linear 200ms;
  z-index: 10;
}

@media (min-width: 1500px) {
  .root {
    left: 0;
  }
}

.root:hover {
  opacity: 1;
}

.title,
.subtitle {
  margin: 0;
}

.title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Roboto Slab";
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto";
}
