{
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["env", "react"]
    }
  },
  "presets": [
    ["env", {"modules": false}],
    "react"
  ]
}
