{
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "lodash",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  },
  "presets": [
    ["env", {"modules": false}],
    "react"
  ]
}
