.root {
  composes: nav from "../../../stylesheets/lattice/nav.css";

  font-family: "Roboto Condensed";
  opacity: 0.3;
  transition: opacity linear 200ms;
  position: absolute;
  right: 30px;
  text-align: right;
  top: 30px;
  z-index: 10;
}

.root:hover {
  opacity: 1;
}

.root a {
  display: block;
}

.root a:hover {
  border: none;
}

.help-icon {
  font-size: 30px;
}
