.rc-tooltip {
  font-family: Roboto;
  -webkit-font-smoothing: auto;
  font-weight: 100;
  opacity: 0.95;
  font-size: 14px;
  line-height: 1.5;
  text-transform: normal;
}

.rc-tooltip-inner {
  box-shadow: none;
  border-radius: 0;
  padding: 8px 10px;
  color: white;
  min-height: 34px;
  text-align: center;
}
