.centered-text {
  text-align: center;
}

.color-1 {
  color: #F07272;
}

.color-2 {
  color: #CBBD0F;
}

.color-3 {
  color: #6AD712;
}

.color-4 {
  color: #00CCEC;
}

.color-5 {
  color: #8169F2;
}
