.centered-text {
  text-align: center;
}

.color-1 {
  color: #f36262;
}

.color-2 {
  color: #cbbd0f;
}

.color-3 {
  color: #73c72f;
}

.color-4 {
  color: #3ccae0;
}

.color-5 {
  color: #9282de;
}
